<section class="section content-section">
    <div class="container">
        <div class="content">
                {{- if .Params.email -}}
                <div class="email"><a itemprop="email" href="mailto:{{ .Params.email }}"><i class="email icon-envelope-alt icon-2x"></i>Send email</a></div>
            {{- end -}}
            {{- if and .Params.phone .Params.phone_description -}}
            <span class="icon has-text-info">
                    <i class="fas fa-info-circle"></i>
                  </span>
                <div class="phone"><a itemprop="telephone" href="tel:{{ .Params.phone }}"><i class="email icon-envelope-alt icon-2x"></i>{{ .Params.phone_description }}</a></div>
            {{- end -}}
    </div>
</section>